<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, <%= em("world!") %></p>


  <p>You have made the auth work</p>

  <p id="accessKey">Here is your access key</p>
  <a href="https://www.linkedin.com/uas/oauth2/accessToken?grant_type=authorization_code&code=AQSI7kDZq_CjSK_l8GwQKxd4n2clDpAANN7CuecF1dYiB8zIBPP0As8kBorg0Jpv7eRd5hIdj_2J5IW8VRhisaaqbr_sJKMMsMZroVcwBGO5g0lcUG8&redirect_uri=http://localhost:9393/token&client_id=75nwkucl1rweps&client_secret=ooDEp1rD3nP96MRP" id="getToken">get token</a>


</div>