<div class="container">

  <form action = "/users/new" method = "post">
    <p> Input New User Name: </p>
    <input type = "new_login" value = "New Username">

    <p> Input New Password: </p>
    <input type = "new_password" value = "New Password">

    <p> Input New User Email Address: </p>
    <input type = "new_email" value = "New Email">

    <input type = "submit" value = "Submit">
    <input type = "submit" value = "Cancel">
  </form>

</div>