<div class="container">

  <h1><a href="/">URL Smasher!</a></h1>
  <p>It's been smashed'!</p>

    <form action = "/url/smashed" method = "post">
      <p>Here is the URL you wanted smashed</p>

      <input type = "url" name = "short_url" >
      <p><a href="/users">Here are the rest of your smashed URL's</a></p>
    </form>

</div>