<div class="container">
  <h1><a href="/">URL Smasher!</a></h1>
  <p>Get smashin'!</p>

  <p>Here are you long URL's</p>
  <%#long_url%>

  <p>Here are the short URL's</p>
  <%#short_url%>
  <p><a href="url/new">Create a new smashed url</a></p>

</div>
<!-- Need to change the landing page to give a good title for the page,a way for a user to be created, a way for the user to login, a way for the user to logout, a form to input the long url to be changed, and pages to go to if user creation, user login, and/or url, failure happen -->